@model Nieruchomosci.Data.Data.CMS.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPostu" />
            <div class="form-group">
                <label asp-for="LinkPostu" class="control-label"></label>
                <input asp-for="LinkPostu" class="form-control" />
                <span asp-validation-for="LinkPostu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ikona" class="control-label"></label>
                <input asp-for="Ikona" class="form-control" />
                <span asp-validation-for="Ikona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tresc" class="control-label"></label>
                <input asp-for="Tresc" class="form-control" />
                <span asp-validation-for="Tresc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozycja" class="control-label"></label>
                <input asp-for="Pozycja" class="form-control" />
                <span asp-validation-for="Pozycja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Komentarz" class="control-label"></label>
                <input asp-for="Komentarz" class="form-control" />
                <span asp-validation-for="Komentarz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Przycisk" class="control-label"></label>
                <input asp-for="Przycisk" class="form-control" />
                <span asp-validation-for="Przycisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataUtworzenia" class="control-label"></label>
                <input asp-for="DataUtworzenia" class="form-control" />
                <span asp-validation-for="DataUtworzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPublikacji" class="control-label"></label>
                <input asp-for="DataPublikacji" class="form-control" />
                <span asp-validation-for="DataPublikacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEdycji" class="control-label"></label>
                <input asp-for="DataEdycji" class="form-control" />
                <span asp-validation-for="DataEdycji" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CzyPubliczny" /> @Html.DisplayNameFor(model => model.CzyPubliczny)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CzyAktywny" /> @Html.DisplayNameFor(model => model.CzyAktywny)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
