<!DOCTYPE HTML>
<html lang="en">
<head>
    <!-- basic   -->
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Nieruchomosci.PortalWWW</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!-- css   -->
    <link type="text/css" rel="stylesheet" href="~/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/css/color.css">

    <!--  favicons  -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="loader-inner">
            <svg>
                <defs>
                    <filter id="goo">
                        <fegaussianblur in="SourceGraphic" stdDeviation="2" result="blur" />
                        <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 5 -2" result="gooey" />
                        <fecomposite in="SourceGraphic" in2="gooey" operator="atop" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
    <!--loader end-->
    <!-- main -->
    <div id="main">
        <!-- header -->
        <header class="main-header">
            <!--  logo  -->
            <div class="logo-holder"><a href="index.html"><img src="" alt=""></a></div>
            <!-- logo end  -->
            <!-- nav-button-wrap-->
            <div class="nav-button-wrap color-bg nvminit">
                <div class="nav-button">
                    <span></span><span></span><span></span>
                </div>
            </div>
            <!-- nav-button-wrap end-->
            <!-- header-search button  -->
            <!-- header-search button end  -->
            <!--  add new  btn -->
            <div class="add-list_wrap">
                <a asp-controller="Nieruchomosci" asp-action="Index" class="add-list color-bg"><i class="fal fa-plus"></i> <span>Nieruchomości</span></a>
            </div>
            <!--  add new  btn end -->
            <!--  login btn -->
            <div class="show-reg-form dasbdord-submenu-open"><img src="~/images/avatar/1.jpg" alt=""></div>
            <!--  login btn  end -->
            <!--  dashboard-submenu-->
            <div class="dashboard-submenu">
                <div class="dashboard-submenu-title fl-wrap">Witaj , <span>Wojciech Poraziński</span></div>
                <ul>
                    <li><a href="dashboard.html"><i class="fal fa-home"></i>Strona Główna</a></li>
                    <li><a href="dashboard-add-listing.html"> <i class="fal fa-file-plus"></i>Dodaj Ogłoszenie</a></li>
                    <li><a href="dashboard-myprofile.html"><i class="fal fa-user-edit"></i>Ustawienia</a></li>
                </ul>
                <a href="index.html" class="color-bg db_log-out"><i class="far fa-power-off"></i> Wyloguj</a>
            </div>
            <!--  dashboard-submenu  end -->
            <div class="show-reg-form modal-open"><i class="fas fa-user"></i><span>Załóż konto</span></div>

            <!--  navigation -->
            <div class="nav-holder main-menu">
                <nav>
                    <ul class="no-list-style">
                        <li>
                            <a asp-controller="Nieruchomosci" asp-action="Index">Nieruchomosci</a>
                        </li>
                    </ul>
                </nav>
            </div>
            @*                <div class="nav-holder main-menu">
            <nav>
            <ul class="no-list-style">
            <li>
            <a asp-controller="Home" asp-action="Index" asp-route-id="">Strona głowna</a>
            <li>
            <a asp-controller="Home" asp-action="Nowosci" asp-route-id="">Nowosci</a>
            </li>
            <li>
            <a asp-controller="Home" asp-action="Firma" asp-route-id="">O Firmie</a>
            </li>
            <li>
            <a asp-controller="Home" asp-action="Kontakt" asp-route-id="">Kontakt</a>
            </li>
            </ul>
            </nav>
            </div>*@
            <!-- navigation  end -->
            <!-- navigation  end -->
        </header>
        <div id="wrapper">
            <!-- header end  -->
            <!-- wrapper  -->
            @RenderBody()
            <!-- wrapper end -->
            <!-- subscribe-wrap -->
            <div class="subscribe-wrap fl-wrap">
                <div class="container">
                    <div class="subscribe-container fl-wrap color-bg">
                        <div class="pwh_bg"></div>
                        <div class="mrb_dec mrb_dec3"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="subscribe-header">
                                    <h4>newsletter</h4>
                                    <h3>Zapisz się do newslettera i otrzymuj najnowsze wiadomości i aktualizacje</h3>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <div class="footer-widget fl-wrap">
                                    <div class="subscribe-widget fl-wrap">
                                        <div class="subcribe-form">
                                            <form id="subscribe">
                                                <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="Wpisz Swój Email" spellcheck="false" type="text">
                                                <button type="submit" id="subscribe-button" class="subscribe-button color-bg">  Subskrybuj</button>
                                                <label for="subscribe-email" class="subscribe-message"></label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe-wrap end -->
            <!--register form -->
            <div class="main-register-wrap modal">
                <div class="reg-overlay"></div>
                <div class="main-register-holder tabs-act">
                    <div class="main-register-wrapper modal_main fl-wrap">
                        <div class="main-register-header color-bg">
                            <div class="main-register-logo fl-wrap">
                                <img src="images/white-logo.png" alt="">
                            </div>
                            <div class="main-register-bg">
                                <div class="mrb_pin"></div>
                                <div class="mrb_pin mrb_pin2"></div>
                            </div>
                            <div class="mrb_dec"></div>
                            <div class="mrb_dec mrb_dec2"></div>
                        </div>
                        <div class="main-register">
                            <div class="close-reg"><i class="fal fa-times"></i></div>
                            <ul class="tabs-menu fl-wrap no-list-style">
                                <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Zaloguj się</a></li>
                                <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Rejestracja</a></li>
                            </ul>
                            <!--tabs -->
                            <div class="tabs-container">
                                <div class="tab">
                                    <!--tab -->
                                    <div id="tab-1" class="tab-content first-tab">
                                        <div class="custom-form">
                                            <form method="post" name="registerform">
                                                <label>Nazwa użytkownika lub email  * <span class="dec-icon"><i class="fal fa-user"></i></span></label>
                                                <input name="email" type="text" placeholder="Login lub email" onClick="this.select()" value="">
                                                <div class="pass-input-wrap fl-wrap">
                                                    <label>Hasło  * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                                                    <input name="password" placeholder="Twoje hasło" type="password" autocomplete="off" onClick="this.select()" value="">
                                                    <span class="eye"><i class="fal fa-eye"></i> </span>
                                                </div>
                                                <div class="lost_password">
                                                    <a href="#">Zapomniałeś hasła?</a>
                                                </div>
                                                <div class="filter-tags">
                                                    <input id="check-a3" type="checkbox" name="check">
                                                    <label for="check-a3">Zapamiętaj mnie</label>
                                                </div>
                                                <div class="clearfix"></div>
                                                <button type="submit" class="log_btn color-bg"> Zaloguj </button>
                                            </form>
                                        </div>
                                    </div>
                                    <!--tab end -->
                                    <!--tab -->
                                    <div class="tab">
                                        <div id="tab-2" class="tab-content">
                                            <div class="custom-form">
                                                <form method="post" name="registerform" class="main-register-form" id="main-register-form2">
                                                    <label>Pełna nazwa  * <span class="dec-icon"><i class="fal fa-user"></i></span></label>
                                                    <input name="name" type="text" placeholder="Login" onClick="this.select()" value="">
                                                    <label>Adres email  * <span class="dec-icon"><i class="fal fa-envelope"></i></span></label>
                                                    <input name="email" type="text" placeholder="Email" onClick="this.select()" value="">
                                                    <div class="pass-input-wrap fl-wrap">
                                                        <label>Hasło  * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                                                        <input name="password" type="password" placeholder="Twoje hasło" autocomplete="off" onClick="this.select()" value="">
                                                        <span class="eye"><i class="fal fa-eye"></i> </span>
                                                    </div>
                                                    <div class="filter-tags ft-list">
                                                        <input id="check-a2" type="checkbox" name="check">
                                                        <label for="check-a2">Zgadzam się z <a href="#">Polityką Prywatności</a> i <a href="#">Regulaminem</a></label>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <button type="submit" class="log_btn color-bg"> Zarejestruj </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--tab end -->
                                </div>
                                <!--tabs end -->
                                <div class="log-separator fl-wrap"><span>or</span></div>
                                <div class="soc-log fl-wrap">
                                    <p>Aby szybciej się zalogować lub zarejestrować, użyj swojego konta społecznościowego.</p>
                                    <a href="#" class="facebook-log"> Facebook</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--register form end -->
            <!--secondary-nav -->
            <div class="secondary-nav">
                <ul>
                    <li><a href="dashboard-add-listing.html" class="tolt" data-microtip-position="left" data-tooltip="Sprzedaj"><i class="fal fa-truck-couch"></i> </a></li>
                    <li><a href="listing.html" class="tolt" data-microtip-position="left" data-tooltip="Kup"> <i class="fal fa-shopping-bag"></i></a></li>
                </ul>
                <div class="progress-indicator">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="-1 -1 34 34">
                        <circle cx="16" cy="16" r="15.9155"
                                class="progress-bar__background" />
                        <circle cx="16" cy="16" r="15.9155"
                                class="progress-bar__progress
                            js-progress-bar" />
                    </svg>
                </div>
            </div>
            <!--secondary-nav end -->
            <a class="to-top color-bg"><i class="fas fa-caret-up"></i></a>
            <!--map-modal -->
            <div class="map-modal-wrap">
                <div class="map-modal-wrap-overlay"></div>
                <div class="map-modal-item">
                    <div class="map-modal-container fl-wrap">
                        <h3> <span>Tytuł ogłoszenia </span></h3>
                        <div class="map-modal-close"><i class="far fa-times"></i></div>
                        <div class="map-modal fl-wrap">
                            <div id="singleMap" data-latitude="40.7" data-longitude="-73.1"></div>
                            <div class="scrollContorl"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--map-modal end -->
        </div>
        <!-- Main end -->
        @await Html.PartialAsync("Parametry", (IEnumerable<Nieruchomosci.Data.Data.CMS.Parametr>)ViewBag.ModelParametry)			                           

    </div>
    <!--=============== scripts  ===============-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOU_API_KEY_HERE&libraries=places"></script>
    <script src="~/js/map-single.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>